$defaultTheme:
(
    pagingCommon:
    (
        anchor:
        (
            background: #fff,
            foreground: #6aba4f,
            active:
            (
                background: #6aba4f,
                foreground: #fff,
            ),
        ),
    ),
);